<div class="container mt-4">
    <nav class="p-2 m-2 border border-info">
        <button  class="btn btn btn-outline-info">New Command</button>
    </nav>
    <ng-template #errors>
        <div class="text-danger"></div>
    </ng-template>
<div class="card" >
        <div class="card-header"> Users Command</div>
        <div class="card-body">
            <form >
                <div class="input-group">
                    <label class="input-group-text">Keyword:</label>
                    <input type="text" class="form-control" formControlName ="Keyword">
                    <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Client Name</th>
                        <th>Date command</th>
                        <th>Produits</th>
                        <th>Total</th>
                        
                       
                       
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       <td></td>
                       
                       <td>
                        <button class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                       </td>
                       <td>
                        <button class="btn btn-success">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                       </td>
                    
                    </tr>
                </tbody>

            </table>
            <ul class="nav nav-pills">
                <li >
                    <a class="btn  ms-1 mt-1"></a>
                </li>
            </ul>
        </div>


    </div>

</div>
