<div class="container mt-4">
    <h5 class="font-monospace offset-md-1">Add Categorie</h5>
    <form  class="col-md-6 offset-md-1">  
        <div class="form-group"> 
         <label class="font-monospace">Nom</label>
       <select [(ngModel)]="saveCategorie.nom" class="form-control"   name = "nom" type="select" matNativeControl required>
         <option>Antibiotique</option>
         <option>Compléments alimentaires</option> -->
       </select>
       
       </div>

       <button *ngIf="!myCondition" (click)="handleAddCategorie()" class=" btn btn-info mt-2 font-monospace">save</button>
     
       <button *ngIf="myCondition" (click)="UpdateCategorie()" class="btn btn-warning mt-2 font-monospace">Update</button>
     
     </form>
    
<!-- <div class="card" > -->
        <!-- <div class="card-header"> Categories List</div> -->
        <div class="card-body offset-md-">
            <!-- <form >
                <div class="input-group">
                    <label class="input-group-text">Keyword:</label>
                    <input type="text" class="form-control" formControlName ="Keyword">
                    <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form> -->
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                           
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of categories">
                       <td>{{c.id}}</td>
                       <td>{{c.nom}}</td>

                    <td>
                        <button (click)="handleDeleteCategorie(c.id)" class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                    <td>
                        <button (click)="handleUpdateBtn(c)" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                    </tr>
                </tbody>

            </table>
            <ul class="nav nav-pills">
                <li >
                    <a class="btn  ms-1 mt-1"></a>
                </li>
            </ul>
        </div>


    </div>

<!-- </div> -->


