<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add Employe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Gestion Des Employes</h1>
        <hr>
        <h2>Save Employe</h2>

        <form action="#" th:action="@{/saveEmploye}" th:object="${employe}" method="POST">
        
            <input type="text" th:field="*{nom}" placeholder="Enter votre nom" class="form-control mb-4 col-4">

            <input type="text" th:field="*{prenom}" placeholder="Enter votre prenom" class="form-control mb-4 col-4">

            <input type="text" th:field="*{salaire}" placeholder="Enter votre salaire" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{post}" placeholder="Enter votre post" class="form-control mb-4 col-4">

            <input type="text" th:field="*{typeCont}" placeholder="Enter votre type contrat" class="form-control mb-4 col-4">

            <button type="submit" class="btn btn-info col-2"> Save Employe</button>
            
        </form>

        <hr>

        <a th:href="@{/index}"> Back to Employe List</a>
    </div>
</body>

</html>